<div class="container">
  <!--<ez-form
    [formConfig]="myConfiguration"
    [inputData]="usuario"
    (dataFromForm)="escucharDatosDelFormulario($event)"
    [styleFramework]="'material'"
    [msgErrorAnimation]="'fadeInLeft'"
    [toasterConfig]="myToasterConfig"
    [showToaster]="true"
  >
    <button [disabled]="!usuario" class="btn btn-block btn-info">Submit</button>
  </ez-form> -->
  <ez-form
    [formConfig]="myConfiguration"
    [inputData]="usuario"
    (dataFromForm)="escucharDatosDelFormulario($event)"
    [styleFramework]="'bootstrap'"
    [msgErrorAnimation]="'fadeInLeft'"
    [toasterConfig]="myToasterConfig"
    [showToaster]="true"
  >
    <button [disabled]="!usuario" class="btn btn-block btn-info">Submit</button>
  </ez-form>
  <ez-form
    [formConfig]="configuracionFormularioBusqueda"
    [styleFramework]="'bootstrap'"
    [msgErrorAnimation]="'fadeInLeft'"
    [showToaster]="true"
    [inputData]='infoLoca'
    (dataFromForm)="escucharDatosDelFormulario($event)"
  >
  </ez-form>
<!--  <ez-toast body="ocurrio un error con el servidor intente mas tarde" title="error">-->
<!--  </ez-toast>-->
</div>
