<div class="container">
  <!--<ez-form
    [formConfig]="myConfiguration"
    [inputData]="usuario"
    (dataFromForm)="escucharDatosDelFormulario($event)"
    [styleFramework]="'bootstrap'"
    [msgErrorAnimation]="'fadeInLeft'"
    [toasterConfig]="myToasterConfig"
    [showToaster]="true"
  >
    <button [disabled]="!usuario" class="btn btn-block btn-info">Submit</button>
  </ez-form>
  <ez-form
    [formConfig]="configuracionFormularioBusqueda"
    [styleFramework]="'material'"
    [msgErrorAnimation]="'fadeInLeft'"
    [showToaster]="false"
    [inputData]='{"email":"vel@asd.com"}'
  >
  </ez-form> -->
  <ez-toast>
  </ez-toast>
  <button (click)="mostrarMensaje()">Mostrar Toast</button>
</div>
